body{
    margin: 0;
    padding: 0;
    background: #222;
    height: 100vh; 
    font-family: sans-serif;
}
form{
    background-color: transparent;
    padding: 20px 0;
    box-sizing: border-box;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height: 440px;
    box-shadow: 0 0 25px #fff2;
    border-radius: 8px;
    color: #ddd;
}
h2{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 1.6em;
    padding: 10px;
}
.form_input{
    padding: 6px 20px;
    
}
label{
    font-size: 20px;
}


input, textarea{
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #0003;
    padding: 6px 8px;
    margin-top: 4px;
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;

}
.checkbox{
    width: 20px;
}
